<div id="alert" class="hidden bottom alert"></div>

<div class="centered-text">
<p>&nbsp;</p>
<div class="huge-text">⚡</div>
<p>&nbsp;</p>

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='{{site.baseurl}}/grazie';}"></iframe>

<form id="registrationForm" action="https://docs.google.com/forms/d/e/1FAIpQLSfzLF0-heFNH5coDn9yzr_o-aLL6ygdVemqovuTqSfiOck3Cw/formResponse" method="POST" 
target="hidden_iframe" onsubmit="submitted=formSetup(); return submitted"> 
				<!--target="hidden_iframe" onsubmit="submitted=true;"> -->

				<h2>Iscrizioni</h2>
				<p>&nbsp;</p>

				<input type="hidden" name="entry.1675453440" value="{{include.location}}" />
				<input type="hidden" name="entry.1242806365" value='{{ page.date | date: "%Y-%m-%d" }}' />

				<label>Nome e Cognome</label>
				<input id="name" type="text" name="entry.170408803" />

				<label>Email</label>
				<input id="email" type="text" name="entry.839394416" />

				<label>Telefono</label>
				<input id="phone" type="text" name="entry.345971888" />

				<p>&nbsp;</p>
				<label>Quanti anni hai?</label>
				<input id="age" type="hidden" name="entry.1150341392" />

				<div class="radio-item">
					<input name="radioAge" type="radio" value="18-24" />
					<span>18-24</span>
				</div>
				<div class="radio-item">
					<input name="radioAge" type="radio" value="25-34"/>
					<span>25-34</span>
				</div>
				<div class="radio-item">
					<input name="radioAge" type="radio" value="35-44+" />
					<span>35-44+</span>
				</div>

				<p>&nbsp;</p>
				<label>Da dove vieni?</label>
				<input id="coming_from" type="hidden" name="entry.1494421521" />
				<div class="radio-item">
				  <input name="radioFrom" type="radio" value="Nord Italia" />
					<span class="wide">Nord Italia</span>
				</div>
				<div class="radio-item">
				  <input name="radioFrom" type="radio" value="Centro Italia"/>
					<span class="wide">Centro Italia</span>
				</div>
				<div class="radio-item">
				  <input name="radioFrom" type="radio" value="Sud Italia" />
					<span class="wide">Sud Italia</span>
				</div>
				<div class="radio-item">
				  <input name="radioFrom" type="radio" value="Isole" />
					<span class="wide">Isole</span>
				</div>
				<div class="radio-item">
				  <input name="radioFrom" type="radio" value="Estero" />
					<span class="wide">Estero</span>
				</div>

				<p>&nbsp;</p>
				<input id="submit_button" type="submit" value="Iscriviti 👍">

</form>
</div>

<script>
				function formSetup(submitted) {
								var sendForm = true

								var el = document.getElementById("registrationForm")
								var name = document.getElementById("name").value
								var email = document.getElementById("email").value
								var phone = document.getElementById("phone").value
								var age = el.radioAge.value
								var from = el.radioFrom.value
								document.getElementById("age").value = age;
								document.getElementById("coming_from").value = from;

								var preTextAlert = '⚠️'
								var defaultTextAlert = 'è un campo obbligatorio.'
								var textAlert = ''
								if (name == '') {textAlert = ' ::: Nome e Cognome ::: '}
								if (email== '') {textAlert = ' ::: Email ::: '}
								if (phone== '') {textAlert = ' ::: Telefono ::: '}
								if (age== '') {textAlert = ' ::: Quanti anni hai?::: '}
								if (from== '') {textAlert = ' ::: Da dove vieni? ::: '}

								if (textAlert != '') {
												textAlert = preTextAlert+textAlert+defaultTextAlert
												var al = document.getElementById("alert")
												al.style.visibility = 'visible';
												al.innerHTML = textAlert
												sendForm = false
								} else {
												var btn = document.getElementById("submit_button")
												btn.disabled=true; 
												btn.value='Ci siamo quasi...'
								}

								return sendForm


				}
				//document.getElementById("submit_button").addEventListener("click", formSetup, false)
</script>
