{% assign tag = include.tag %} 
	
{% capture today %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}

{% if tag == empty %}
	{% assign tappe = site.posts | where_exp: "post", "post.tags == empty" %}
{% else %}
	{% assign tappe = site.posts | where_exp: "post", "post.tags contains tag" %}
{% endif %}

{% assign year = 1250 %} 
{% assign tone = 'dark' %} 
<p></p>

{% for post in tappe reversed %}
{% capture date %}{{post.date | date: '%s' | plus: 0 %}}{% endcapture %}
{% if date > today %}
    
<div>


{% if tone == 'dark' %}
	{% assign tone = 'light' %} 
{% else %}
	{% assign tone = 'dark' %} 
{% endif %}
	
{% assign postYear = post.date | date: '%Y' %}
{% if postYear != year %}
	{% assign year = postYear %}
	<strong><div class="days highlight dark">{{postYear}}</div></strong>
{% endif %}

	<div class="el-dates {{attr}}">
    		<a class="highlight {{tone}}" href="{{site.baseurl}}{{post.url}}">
    			<span class="location">{{ post.location }}</span>
    			<span class="days">{{ post.days }}</span>
			<!--
    			<span class="days">{{ post.days }}</span>
    			<span class="sep">&bull;</span>
    			<span class="location">{{ post.location }}</span>
			-->
    		</a>
    	</div>
    </div>
{% endif %}
{% endfor %}

<div>&nbsp;</div>
<div></div>
<div></div>
