
.container {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.6;
    padding: 1.4rem;
    max-width: $tablet;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

header,footer {
    padding:0;
    width: 100%;
    img {
				display: block;
				margin: 0 auto;
        max-width: $tablet;
				width: 100%;
    }
}

.list-dates {
    margin: 0 auto;
    padding: 0 0;
    // background: red;
}

.highlight, .highlight a {
	display: inline-block;
	color: white;
	background: black;
	border-radius: 20px;
}
.tag {
	padding: 0 0.4rem;
	font-size: 0.8rem;
}
.silver {
	background-color: #bdc3c7;
	color: black;
}
.alizarin {
	background-color: #e74c3c; 
}
.orange {
	background-color: #f39c12; 
}
.turquoise {
	background-color: #1abc9c; 
}
.el-dates {
    padding: 0 0.4rem;
    // border: 0.1px solid black;
    // background: yellow;
    margin: 0.4rem auto;
}
.el-dates .days {
    text-align: right;
    font-weight: bold;
}

.el-dates.location {
    text-align: left;    
}

.main-text {
    padding: 2em 0;
}

.centered-text {
    text-align: center;
}

.centered-button {
    padding: 2rem 0;
    text-align: center;
    img {
        width: 140px;
        height: auto;    
    }
}

.light-link {
    padding: 0.4rem 0;
    a {
        color:#bdc3c7;
    }
}

.grayed-text {
        color:#bdc3c7;
}
.underlined {
	text-decoration: underline;
}

.hidden{visibility: hidden;}
.bottom {
				position: fixed;
				height: 30px;
				width: 100%;
				bottom:0;
				left:0;
}
.alert{
				font-size: 14px;
				text-align: center;
				padding: 2rem 0;
				background-color: #2c3e50;
				color: white;
}

