@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900i&display=swap');

.container {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.6;
    padding: 1.4rem;
    max-width: $tablet;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

header,footer {
    padding:0;
    width: 100%;
    img {
				display: block;
				margin: 0 auto;
        max-width: $tablet;
				width: 100%;
    }
}

.list-dates {
    margin: 0 auto;
    padding: 0 0;
    // background: red;
}

.tag {
	padding: 0 0.4rem;
	font-size: 0.8rem;
}
.silver {
	background-color: #bdc3c7;
	color: black;
}
.alizarin {
	background-color: #e74c3c; 
}
.orange {
  color: white;
	background-color: #f39c12; 
}
.turquoise {
    color: black;
    background-color: #1abc9c; 
}

.turquoise {
	background-color: #1abc9c; 
}
.sun-flower {
				color: black;
				background-color: #f1c40f; 
}

.greentour {
	background-color: #528d7c;
}
.purpletour {
	background-color: #3c4074;
}

.highlight, .highlight a {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	color: white;
	padding: 0.2rem 0.6rem;
	text-decoration: none;
}
.highlight.light {
	background-color: #528d7c;
}
.highlight.dark {
	background-color: #3c4074;
}

.el-dates {
    padding: 0 0.4rem;
    // border: 0.1px solid black;
    // background: yellow;
    margin: 0.8rem auto;
}
.el-dates .days {
}

.el-dates .location {
    font-weight: 900;
    font-style: italic;
    font-size: 1.1rem;
    padding-right: 0.4rem;
}

.main-text {
    padding: 2em 0;
}

.centered-text {
    text-align: center;
}

.centered-button {
    padding: 2rem 0;
    text-align: center;
    img {
        width: 140px;
        height: auto;    
    }
}

.light-link {
    padding: 0.4rem 0;
    a {
        color:#bdc3c7;
    }
}

.grayed-text {
        color:#bdc3c7;
}
.underlined {
	text-decoration: underline;
}

.hidden{visibility: hidden;}
.bottom {
				position: fixed;
				height: 30px;
				width: 100%;
				bottom:0;
				left:0;
}
.alert{
				font-size: 14px;
				text-align: center;
				padding: 2rem 0;
				background-color: #2c3e50;
				color: white;
}

