body {
}

strong {
    font-weight: bold;
}

i,em {
    font-style: italic;
}

p {
    padding: 0.4em 0;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 2.618em;
    padding: 2em 0 1em 0; 
}

h2 {
    font-size: 1.618em;
    padding: 1.6em 0 0.6em 0; 
}

h3 {
    padding: 1em 0 0.6em 0;
}

header h1, header h2 {
    padding: 0.2rem;
}

a {
    color: black;
}

.big-text {
    font-size: 1.618em;
}
