---
layout: default
---

<header>
    <img src="{{site.baseurl}}/images/amore-chiama-tour-min.jpg" alt="L'Amore Chiama! TOUR ::: 5pani2pesci">
</header>

<div class="container">

    <p></p>
    <p>Ecco i prossimi eventi. <i>Clicca sulla data per iscriverti!</i></p>
    <p></p>
    <p></p>

    <div class="list-dates">
        {% for post in site.posts reversed %}

            <div class="el-dates {{attr}}">
                <a href="{{site.baseurl}}{{post.url}}">
                    <span class="days">{{ post.days }}</span>
                    <span class="sep">&bull;</span>
                    <span class="location">{{ post.location }}</span>
                </a>
                {% assign tag_label = post.tags[0] %}
                {% include assign_labels.html tag=tag_label %}
                {% if label %}
                    <span class="highlight tag {{class}}">{{label}}</span>
                {% endif %}


            </div>

        {% endfor %}
    </div>

    <p></p>
    <p></p>
    <p></p>
    <p>
    Vuoi proporre una nuova data?
    <div><a href="{{site.baseurl}}/scrivici">Scrivici un messaggio 👍</a></div>
    </p>

    <div class="main-text">
        {{content}}
    </div>

</div>

