---
layout: default
---

<header>
    <img src="{{site.baseurl}}/images/amore-chiama-tour-min.jpg" alt="L'Amore Chiama! TOUR ::: 5pani2pesci">
</header>

<div class="container">


    <p></p>
    <p></p>
    <p></p>
    <h2>Il NUOVO calendario 2019/2020 è in arrivo!</h2>
    <p>
    <i>Vuoi proporre una nuova data?</i> Basta una sala capiente e una cinquantina di ragazzi per iniziare.
    <div><a href="{{site.baseurl}}/scrivici">Ecco come contattarci 👍</a></div>
    </p>

    <div class="main-text">
        {{content}}
    </div>

</div>

