---
layout: default
---
 <div class="container">

    <header>
        <h1>{{page.title}}</h1>
        <div class="light-link">
            <a href="{{site.baseurl}}/">⟵ Indietro</a>
        </div>
    </header>

    <div class="main-text">
	        {{content}}

        <p></p>
        <p></p>
        <p></p>
	{% include youtube.html url="https://www.youtube.com/embed/SeBKQfUwoIw"%}

        <p></p>
        <p></p>
        <div class="centered-button light-link">
            <a href="{{site.baseurl}}/">Tutte le date</a>
        </div>

		</div>
</div>

