---
layout: default
---






{% assign open = true %}
{% assign closed = false %}
{% assign compDate = 'now' | date: "%Y%m%d" | plus: 0 %}
{% assign date = page.date | date: "%Y%m%d" | plus: 0 %}

{% if date < compDate %}
    {% assign open = false %}
    {% assign closed = true %}
{% endif %}
{% if page.private == true %}
    {% assign open = false %}
    {% assign closed = true %}
{% endif %}

<div class="container">

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <header>
        <h1>{{page.location}}</h1>
        <h2>{{page.days}}</h2>
        <div class="light-link">
            <a href="{{site.baseurl}}/">⟵ Indietro</a>
        </div>
    </header>

    <div class="main-text">

	Tutte le info su questo corso saranno caricate al più presto.

    </div>

        <footer>
            <p></p>
            <p></p>
            <div class="centered-button light-link">
                <a href="{{site.baseurl}}/">Tutte le date</a>
            </div>
        </footer>
    </div>

</div>
